@media (max-width: 1200px)
    .container
        max-width: 960px
    .slider
        width: 590px
    .swiper
        &-slide
            &__img
                height: 100%
                width: 100%
                object-fit: cover

@media (max-width: 992px)
    .newsletter-wrapper,
    .container
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        &-grid
            flex-direction: column
        &-data
            flex-direction: row
    .slider
        width: 100%
        margin-bottom: 30px
    .booking
        width: 340px
    .map
        width: 340px
    .reviews
        &-slider
            &__item
                max-width: 580px
                padding: 0 62px 30px
@media (max-width: 768px)
    .container
        max-width: 676px
        width: 92%
    .navbar
        &-menu, &__search, &__user
            display: none
    .menu
        &-btn
            display: flex
            width: 16px
            height: 11px
            padding: 0
            border: none
            align-items: center
            justify-content: space-between
            flex-direction: column
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: auto
        margin-right: 32px
    .hotel
        padding-top: 5px
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__left
                width: 100%
            &__name
                margin-top: 10px
            &__offer
                order: -1
                margin-left: 0
    .raiting
        display: none
    .slider
        height: 350px
    .hotel
        &-data
            flex-direction: column
            min-height: 450px
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        &-wrapper
            flex-direction: column
            max-width: 676px
            width: 92%
            align-items: flex-start
    .reviews
        &__title
            font-size: 18px
            line-height: 23px
            margin: 0 18px 42px
        &-rating
            margin-right: 0
        &-slider
            &__button
                top: 32px
                &--prev
                    left: 50%
                    transform: translate(-50%, 0)
                    margin-left: -80px
                &--next
                    right: 50%
                    transform: translate(50%, 0)
                    margin-right: -80px
            &__item
                padding: 0 31px 36px
                &:before, &:after
                    display: none
@media (max-width: 576px)
    .logo
        width: 99px
    .container
        max-width: 676px
        width: 92%
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
    .slider
        margin-bottom: 20px
        height: 179px
    .hotel
        &-data
            height: 403px
    .subscribe
        width: 100%
    .newsletter
        padding: 76px 0 83px 0
        &-title
            margin-bottom: 37px